<%= form_with(model: gift, local: true) do |form| %>
  <% if gift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gift.errors.count, "error") %> prohibited this gift from being saved:</h2>

      <ul>
      <% gift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "あなたの名前を入力してください" %><br>
    <%= form.text_field :giver_name %>
  </div>

  <div class="field">
    <%= form.label "URLを送る相手の名前を入力してください" %><br>
    <%= form.text_field :taker_name %>
  </div>

  <div class="field">
    <%= form.label "送るURLを入力してください" %><br>
    <%= form.text_field :gift_url %>
  </div>

  <div class="field">
    <%= form.label "メッセージを入力してください" %><br>
    <%= form.text_field :message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
