<p id="notice"><%= notice %></p>

<p>
  <strong>あなたの名前:</strong>
  <%= @gift.giver_name %>
</p>

<p>
  <strong>相手の名前:</strong>
  <%= @gift.taker_name %>
</p>

<p>
  <strong>相手に開いてもらいたいURL:</strong>
  <%= link_to @gift.gift_url, @gift.gift_url %>
</p>

<p>
  <strong>相手に送るギフト用URL</strong>
  <%= link_to (url_for :controller => 'gifts', :action => 'show', :only_path => false), @gift %>
</p>

<%= link_to '修正する', edit_gift_path(@gift) %>